<div class="home-wrapper">
  <div nz-row nzGutter="16">
    <div *ngFor="let element of columnArr" nz-col class="gutter-row" [nzSpan]="colMap[element.length]">
      <div class="gutter-box">
        <text-news [viewUrl]="element.serviceAddr.viewUrl"></text-news>
      </div>
    </div>
    <!-- <div nz-col class="gutter-row" [nzSpan]="colMap.threeOfCol">
      <div class="gutter-box">
        <image-news></image-news>
      </div>
    </div> -->
    <!-- <div nz-col class="gutter-row" [nzSpan]="colMap.threeOfCol">
      <div class="gutter-box">col-8</div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="colMap.threeOfCol">
      <div class="gutter-box">col-8</div>
    </div>
  </div> -->
</div>