<p>
  home works!
</p>

<!-- <app-text-news></app-text-news>
<app-image-news></app-image-news> -->

<h1>Welcome to Angular World zz</h1>

<ng-template #tplR></ng-template>

<ng-template #tpl>
  <span>I am span in ng-template zz</span>
</ng-template>

<ng-template #dynamicContainer></ng-template>



<!-- <ng-container *ngTemplateOutlet="greet"></ng-container>
<hr>
<ng-container *ngTemplateOutlet="eng; context: myContext"></ng-container>
<hr>
<ng-container *ngTemplateOutlet="svk; context: myContext"></ng-container>
<hr>
<ng-template #greet><span>Hello</span></ng-template>
<ng-template #eng let-name><span>Hello {{name}}!</span></ng-template>
<ng-template #svk let-person="localSk"><span>Ahoj {{person}}!</span></ng-template> -->