<div class="text-news" [ngClass]="{'shadow-red':borderColor==='red'}">
  <div class="title">
    <span [ngClass]="{'font-red':fontColor==='red'}">通知公告</span>
    <i nz-icon [nzType]="'more'" nz-tooltip nzTooltipTitle="更多" routerLink="../manage/info-release" [queryParams]="{type:1}"></i>
  </div>
  <div class="content" [perfectScrollbar]="config">
    <ul>
      <li *ngFor="let element of list">
        <div class="item">
          <img src="../../../../assets/images/trumpet.png" alt="">
        </div>
        <div class="item text" nz-tooltip [nzTitle]="">
          <a href="javascript:void(0)" (click)="linkDetail(element)">{{element.title}}</a>
        </div>
        <div class="item date">
          <p>{{element.createDate | date:'yyyy-MM-dd'}}</p>
        </div>
      </li>
    </ul>
    <nz-skeleton [nzActive]="true" *ngIf="list.length === 0"></nz-skeleton>
  </div>
</div>

<nz-modal class="news-modal" [(nzVisible)]="isVisible" [nzWidth]="'80%'" [nzFooter]="null" (nzOnCancel)="handleCancel()">
  <h1>{{detailNew.title}}</h1>
  <h2>{{detailNew.subTitle}}</h2>
  <div class="new-content" [innerHtml]="detailNew.content | html"></div>
</nz-modal>