<header>
  <div class="p-logo"><img src="../../../assets/images/logo.png" alt="logo"></div>
  <div class="user-blk">
    <nz-avatar nzSize="58" nzSrc="../../../assets/images/portrait.png" nzAlt="avatar"></nz-avatar>
    <a nz-dropdown [nzDropdownMenu]="setting" style="color:white">
      万芳芳
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #setting="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item (click)="showModal()"><i nz-icon nzType="setting" nzTheme="outline"></i>&nbsp;设置</li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <ul class="p-menu clearfix">
    <ng-container *ngFor="let item of menuList">
      <li class="fir-nav">
        <a (click)="goPage(item)" nz-dropdown [nzDropdownMenu]="menu">{{item.desc}}</a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul class="sec-nav">
            <li *ngFor="let tem of item.resourcess;">
              <a (click)="goPage(tem)" [routerLinkActive]="'active'">{{tem.desc}}</a>
            </li>
          </ul>
        </nz-dropdown-menu>
      </li>
    </ng-container>
  </ul>
</header>

<nz-modal [(nzVisible)]="isVisible" [nzWidth]="'60%'" [nzFooter]="null" (nzOnCancel)="handleCancel()">
  <form class="mt-20" nz-form [formGroup]="buildForm">
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="name">姓名</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入姓名!">
        <nz-input-group>
          <input formControlName="name" nz-input placeholder="请输入姓名" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="email">邮箱</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入邮箱!">
        <nz-input-group>
          <input formControlName="email" nz-input placeholder="请输入邮箱" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="phoneNumber">联系电话</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入联系电话!">
        <nz-input-group>
          <input formControlName="phoneNumber" nz-input placeholder="请输入联系电话" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nz-row>
        <div nz-col nzSpan="14" nzOffset="4">
          <button nz-button nzType="primary" [disabled]="buildForm.invalid" (click)="submit()">
            <span>保存</span>
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>