<header>
  <div class="p-logo"><img src="../../../assets/images/logo.png" alt="logo"></div>
  <div class="user-blk">
    <nz-avatar nzSize="58" [nzSrc]="photoImgUrl" nzAlt="avatar"></nz-avatar>
    <a nz-dropdown [nzDropdownMenu]="setting" style="color:white">
      {{userInfo?.name}}
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #setting="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item (click)="showModal()"><i nz-icon nzType="setting" nzTheme="outline"></i>&nbsp;设置</li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <div class="p-menu clearfix">
    <ul [perfectScrollbar] style="position: relative">
      <ng-container *ngFor="let item of menuList">
        <li class="fir-nav">
          <a (click)="goPage(item)" nz-dropdown [nzDropdownMenu]="menu">{{item.desc}}</a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul class="sec-nav">
              <li *ngFor="let tem of item.resourcess;">
                <a (click)="goPage(tem)" [routerLinkActive]="'active'">{{tem.desc}}</a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </li>
      </ng-container>
    </ul>
  </div>
  <i title="点击下载操作手册" nz-icon class="direct-link" [nzType]="'question-circle'" [nzTheme]="'twotone'"></i>
</header>

<nz-modal [(nzVisible)]="isVisible" [nzOkLoading]="modalOkLoading" [nzWidth]="'60%'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()">
  <div nz-row>
    <div nz-col nzSpan="16">
      <form class="mt-20" nz-form [formGroup]="buildForm">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">姓名</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入姓名!">
            <nz-input-group>
              <input formControlName="name" nz-input placeholder="请输入姓名" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">邮箱</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入邮箱!">
            <nz-input-group>
              <input formControlName="email" nz-input placeholder="请输入邮箱" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phoneNumber">联系电话</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="请输入联系电话!">
            <nz-input-group>
              <input formControlName="phoneNumber" nz-input placeholder="请输入联系电话" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nz-row>
            <div nz-col nzSpan="18" nzOffset="6">
              <button nz-button nzType="primary" [disabled]="buildForm.invalid" (click)="submit()">
                <span>保存</span>
              </button>
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div nz-col nzSpan="8" class="avatar-area">
      <nz-avatar nzSize="60px" [nzSrc]="photoImgUrl" nzAlt="avatar"></nz-avatar>
      <br />
      <nz-upload [nzAction]="avatarUploadUrl" [nzCustomRequest]="customReq" (nzChange)="imgHandleChange($event)"
        [nzFileList]="[]">
        <button nz-button><i nz-icon nzType="upload"></i><span>一键上传</span></button>
      </nz-upload>
    </div>
  </div>
</nz-modal>