::ng-deep {
  .release-build {
    .ant-form-item label.ant-checkbox-wrapper {
      margin: 10px 15px 0 0;
      min-width: 120px;
    }
  
    .ant-skeleton-header {
      padding-right: 0;
    }
  
    // .ant-form-item-label {
    //   width: 100px;
    // }
  }
  .detail-box {
    .title {
        text-align: right;
        padding-right: 10px;
    }
    .ant-row {
        margin: 20px 0;
    }
    .new-content {
      img {
        width: 100%;
      }
    }
  }
}

.type-img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  float: left;
  margin: 0 10px 10px 0;

  img {
    max-width: 100%;
  }

  .img-delete {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    transition: .3s;
  }

  &:hover .img-delete {
    opacity: 1;
  }
}

