<div class="image-news">
  <div class="title">
    <span>新闻速递</span>
    <i nz-icon [nzType]="'more'" routerLink="../manage/info-release" [queryParams]="{type:2}"></i>
  </div>
  <div class="content">
    <nz-skeleton [nzActive]="true" *ngIf="list.length === 0&&skeletonActive"></nz-skeleton>
    <nz-carousel nzAutoPlay [nzAutoPlaySpeed]="2000">
      <div nz-carousel-content *ngFor="let element of list">
        <img [src]="element.images[0]['downloadUrl']" (click)="linkDetail(element)" width="100%" height="100%" alt="">
      </div>
    </nz-carousel>
  </div>
</div>

<nz-modal class="news-modal" [(nzVisible)]="isVisible" [nzWidth]="'60%'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()">
  <h1>{{detailNew.title}}</h1>
  <h2>{{detailNew.subTitle}}</h2>
  <div class="new-content" [innerHtml]="detailNew.content | html"></div>
</nz-modal>