<form class="search-box" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>姓名</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="userName" placeholder="async validate try to write JasonWood" />
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          请输入姓名!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
      <button nz-button class="reset-btn" (click)="resetForm($event)">Reset</button>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th>姓名</th>
      <th>工号</th>
      <th>账号</th>
      <th>邮件</th>
      <th>电话</th>
      <th class="role-column">已分配角色</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of ajaxTable.data;let index = index;">
      <td>{{element.name}}</td>
      <td></td>
      <td>{{element.id}}</td>
      <td>{{element.email}}</td>
      <td>{{element.phoneNumber}}</td>
      <td class="role-column">
        <span *ngFor="let item of element['rolevos']">{{item.displayName}}&nbsp;</span>
        <!-- <a href="javascript:void(0)" (click)="roleDialog = true;getRoles(element);">设置</a> -->
      </td>
      <td>有效</td>
      <td>
        <button nz-button (click)="toDetail(element,'detail')" nzType="primary" nzSize="small">详情</button>&nbsp;
        <button [appAuthority]="'AccountUbd'" nz-button (click)="toDetail(element,'edit')" nzType="primary" nzSize="small">编辑</button>
      </td>
    </tr>
  </tbody>
</nz-table>