<form nz-form [formGroup]="buildForm">
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="parentId">应用目录</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="请选择目录名称!">
      <nz-select style="width: 100%" formControlName="parentId" nzAllowClear nzPlaceHolder="请选择目录名称">
        <nz-option [nzValue]="item.id" [nzLabel]="item.desc" *ngFor="let item of menuSelectList"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="desc">应用名称</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="请输入应用名称!">
      <input formControlName="desc" nz-input placeholder="请输入应用名称" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="sortNum">排序</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="请输入排序数字!">
      <input formControlName="sortNum" nz-input placeholder="请输入排序数字" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="addressType">应用地址</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="请勾选访问权限!">
      <nz-radio-group formControlName="addressType">
        <label nz-radio [nzValue]="'0'">从已注册应用库中选择</label>
        <label nz-radio [nzValue]="'1'">手动输入URL</label>
      </nz-radio-group>
      <input formControlName="action" *ngIf="buildForm.value.addressType === '1'" nz-input placeholder="请输入url" />
      <nz-select style="width: 100%" *ngIf="buildForm.value.addressType === '0'" formControlName="action" nzAllowClear nzPlaceHolder="请选择url">
        <nz-option [nzValue]="item.id" [nzLabel]="item.desc" *ngFor="let item of menuSelectList"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <!--<nz-form-item *ngIf="buildForm.value.addressType">-->
    <!--<nz-form-control [nzSm]="10" [nzOffset]="2" [nzXs]="24" nzErrorTip="请选择或输入url!">-->
      <!--<input formControlName="action" *ngIf="buildForm.value.addressType === '1'" nz-input placeholder="请输入url" />-->
      <!--<nz-select style="width: 100%" *ngIf="buildForm.value.addressType === '0'" formControlName="action" nzAllowClear nzPlaceHolder="请选择url">-->
        <!--<nz-option [nzValue]="item.id" [nzLabel]="item.desc" *ngFor="let item of menuSelectList"></nz-option>-->
      <!--</nz-select>-->
    <!--</nz-form-control>-->
  <!--</nz-form-item>-->
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="isView">强制显示</nz-form-label>
    <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="请选择是否强制显示!">
      <nz-radio-group formControlName="isView">
        <label nz-radio nzValue="1">是</label>
        <label nz-radio nzValue="0">否</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nz-row>
      <div nz-col nzSpan="14" nzOffset="2">
        <button nz-button nzType="primary" [disabled]="buildForm.invalid" (click)="submit()">添加链接</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
