<div class="application-btns">
  <button [routerLink]="[ '/manage/applicat-directory' ]" nz-button nzType="primary">新建目录</button>
  <button [routerLink]="[ '/manage/applicat-link' ]" nz-button nzType="default">新建链接</button>
</div>

<nz-table
  class="application-table"
  #applicationTable
  [nzData]="tableData"
  nzSize="middle"
  [nzBordered]="true">
  <thead>
  <tr>
    <th width="12%">名称</th>
    <th>类型</th>
    <th>排序</th>
    <th>URL</th>
    <th>来源</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of applicationTable.data">
    <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
      <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
        <td
          [nzIndentSize]="item.level * 20"
          [nzShowExpand]="!!item.resourcess"
          [(nzExpand)]="item.expand"
          (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
        >
          {{ item.desc }}
        </td>
        <td></td>
        <td></td>
        <td>{{ item.action }}</td>
        <td></td>
        <td>{{ item.status }}</td>
        <td><span>详情</span></td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</nz-table>
