<div class="application-btns">
  <button [appAuthority]="'Rootadd'" [routerLink]="[ '/manage/applicat-directory',{action:'create'} ]" nz-button
    nzType="primary">新建目录</button>
  <button [appAuthority]="'Menuadd'" [routerLink]="[ '/manage/applicat-link',{action:'create'} ]" nz-button nzType="default">新建链接</button>
</div>

<nz-table class="application-table" #applicationTable [nzData]="tableData" nzSize="middle" [nzLoading]="tableLoading">
  <thead>
    <tr>
      <th width="12%">名称</th>
      <th>类型</th>
      <th>排序</th>
      <th>URL</th>
      <th>来源</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of applicationTable.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td class="text-left nowrap" [nzIndentSize]="item.level * 20" [nzShowExpand]="!!item.resourcess" [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)">
            {{item.desc}}
          </td>
          <td>{{item.resourceType}}</td>
          <td>{{item.sortNum}}</td>
          <td>{{item.action}}</td>
          <td>
            <ng-container *ngIf="item.sourceType === 'Y'">应用库</ng-container>
            <ng-container *ngIf="item.sourceType === 'N'">手动输入</ng-container>
          </td>
          <td>
            <ng-container *ngIf="item.state === '1'">有效</ng-container>
            <ng-container *ngIf="item.state === '0'">无效</ng-container>
          </td>
          <td>
            <span *ngIf="item.resourceType=='Menu'" class="primary-color cp" [routerLink]="[ '/manage/applicat-btn',{action:'create',parentId:item.id} ]">添加按钮</span>&nbsp;
            <span *ngIf="item.resourceType!=='Button'" class="primary-color cp" (click)="goDetail(item,'detail')">详情</span>&nbsp;
            <span [appAuthority]="item.resourceType=='Root'?'Rootupb':'Menuupd'">
              <span class="primary-color cp" (click)="goDetail(item,'edit')">编辑</span>&nbsp;
              <span class="primary-color cp" (click)="showDeleteConfirm(item)">设置无效</span>
            </span>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</nz-table>

<!-- <nz-modal [(nzVisible)]="deleteDialog" [nzOkLoading]="modalOkLoading" nzTitle="应用收藏" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <div nz-col nzSpan="12">
    <label nz-checkbox *ngFor="let element of collectCboxsArr" [(ngModel)]="element.checked">{{element.desc}}</label>
    <nz-skeleton [nzActive]="true" *ngIf="collectCboxsArr.length === 0"></nz-skeleton>
  </div>
</nz-modal> -->