.hidden {
  display: none;
}
.application-btns {
  text-align: left;
  margin-bottom: 15px;

  button {
    margin-right: 10px;
  }
}

.application-table {
  //text-align: center;

  ::ng-deep {

    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
      text-align: center;
    }

  }
}
