<div class="page-btn-line">
  <ql-button [routerLink]="[ '/manage/applicat-directory' ]" type="info" size="small">新建目录</ql-button>
  <ql-button [routerLink]="[ '/manage/applicat-link' ]" type="info" size="small">新建链接</ql-button>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>名称</th>
      <th>类型</th>
      <th>排序</th>
      <th>URL</th>
      <th>来源</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let element of tableDatas;let index = index;">
      <tr [ngClass]="{'hidden':hideLine(element)}">
        <th scope="row" (click)="rowClick(element)">{{element.resourcess.length>0?'+':''}}</th>
        <td [ngClass]="{'td-lv2':element.hierarchy=='children'}">{{element.desc}}</td>
        <td [ngClass]="{'td-lv2':element.hierarchy=='children'}"></td>
        <td [ngClass]="{'td-lv2':element.hierarchy=='children'}">{{element.action}}</td>
        <td [ngClass]="{'td-lv2':element.hierarchy=='children'}"></td>
        <td [ngClass]="{'td-lv2':element.hierarchy=='children'}">{{element.state==1?'有效':'无效'}}</td>
        <td [ngClass]="{'td-lv2':element.hierarchy=='children'}">
          <!-- <a href="javascript:void(0)">详情</a> -->
          &nbsp;|&nbsp;<a>设置无效</a>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>