.fly-loading
  position fixed
  left 0
  top 0
  width 100%
  height 100%

  .fly-loading-spin
    top 50%
    z-index 10001

  .fly-loading-icon
    background #fff
    opacity 0.5
    position absolute
    width 100%
    height 100%
