::ng-deep {
    .search-box {
        padding: 20px;
        border: 1px solid rgba(192, 192, 192, 0.4);
        .reset-btn {
            margin-left: 10px;
        }
    }
    .text-left {
        text-align: left;
    }
    .nowrap {
        white-space: nowrap;
    }
}

