.home-left{
  z-index: 9999;
  background: #316799;
  width: 100%;
  height: 100%;

  ul{
    padding: 10px 0;
    background-color: #2b7ac3;

    li{
      width: 100%;
      height: 46px;
      text-align: center;
      line-height: 46px;
      font-size: 22px;
      color: #ffffff;
      background-color: #2b7ac3;
      //background-image: url("../../../assets/images/07.png");
      //background-repeat: no-repeat;
      //background-size: 10%;
      //background-position-x: 18%;
      //background-position-y: 50%;
      i {
        color: #fff;
        margin-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .home-left ul li {
    font-size: 16px;
  }
}
