<div class="home-left">
  <ul>
    <li *ngFor="let item of collectionList">
      <i class="icon iconfont iconglobe"></i>
      <a href="javascript:void(0)" (click)="goPage(item)">{{item.resourcename}}</a>
    </li>
  </ul>
  <a class="icon-add" href="javascript:void(0)" (click)="showModal()">+</a>
</div>


<nz-modal [(nzVisible)]="collectDialog" [nzOkLoading]="modalOkLoading" nzTitle="应用收藏" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <div nz-row>
    <label nz-checkbox nz-col nzSpan="4" *ngFor="let element of collectCboxsArr" [(ngModel)]="element.checked">{{element.desc}}</label>
    <nz-skeleton [nzActive]="true" [nzLoading]="collectCboxsArr.length === 0"></nz-skeleton>
  </div>
</nz-modal>