<div class="home-left">
  <ul>
    <li *ngFor="let item of collectionList">
      <i class="icon iconfont iconglobe"></i>
      <a href="javascript:void(0)" [routerLink]="[item.resourceUrl]">{{item.resourcename}}</a>
    </li>
  </ul>
  <a class="icon-add" href="javascript:void(0)" (click)="showModal()">+</a>
</div>


<nz-modal [(nzVisible)]="collectDialog" [nzOkLoading]="modalOkLoading" nzTitle="应用收藏" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <div nz-col nzSpan="12">
    <label nz-checkbox *ngFor="let element of collectCboxsArr" [(ngModel)]="element.selected">{{element.desc}}</label>
  </div>
</nz-modal>