<div class="detail-content">
  <div class="row">
    <div class="col-sm-2">序号</div>
    <div class="col-sm-4">7879879</div>
    <div class="col-sm-2">姓名</div>
    <div class="col-sm-4">LILEI</div>
  </div>
  <div class="row">
    <div class="col-sm-2">工号</div>
    <div class="col-sm-4">7879879</div>
    <div class="col-sm-2">账号</div>
    <div class="col-sm-4">LILEI</div>
  </div>
  <div class="row">
    <div class="col-sm-2">邮件</div>
    <div class="col-sm-4">7879879</div>
    <div class="col-sm-2">电话</div>
    <div class="col-sm-4">LILEI</div>
  </div>
  <div class="row">
    <div class="col-sm-2">已分配角色</div>
    <div class="col-sm-4">7879879</div>
    <div class="col-sm-2">状态</div>
    <div class="col-sm-4">LILEI</div>
  </div>
</div>