::ng-deep {
  .ant-form-item label.ant-checkbox-wrapper {
    margin: 10px 15px 0 0;
    min-width: 120px;
  }
  .ant-skeleton-header {
    padding-right: 0;
  }
  .detail-box {
    .title {
        text-align: right;
        padding-right: 10px;
    }
    .ant-row {
        margin: 20px 0;
    }
  }
}
.no-margin{
  margin: 0 0 10px 0;
}