<div *ngIf="pageAction!=='detail'">
  <form nz-form [formGroup]="buildForm">
    <nz-form-item>
      <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="desc">应用目录</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入目录名称!">
        <nz-input-group>
          <input formControlName="desc" nz-input placeholder="请输入目录名称" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="pdesc">描述</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入目录描述!">
        <nz-input-group>
          <input formControlName="pdesc" nz-input placeholder="请输入目录描述" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="sortNum">排序</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入排序数字!">
        <nz-input-group>
          <input formControlName="sortNum" nz-input placeholder="请输入排序数字" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="roleVOs">访问权限</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请勾选访问权限!">
        <nz-input-group>
          <nz-skeleton [nzActive]="true" *ngIf="roleList.length === 0"></nz-skeleton>
          <nz-checkbox-group formControlName="roleVOs"></nz-checkbox-group>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nz-row>
        <div nz-col nzSpan="14" nzOffset="2">
          <button nz-button nzType="primary" [disabled]="buildForm.invalid" (click)="submit()">
            <span *ngIf="pageAction==='create'">添加目录</span>
            <span *ngIf="pageAction==='edit'">修改目录</span>
          </button>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div *ngIf="pageAction=='detail'" class="detail-box">
  <div nz-row>
    <div nz-col nzSpan="4" class="title">应用目录：</div>
    <div nz-col nzSpan="8">{{buildForm.value.desc}}</div>
    <div nz-col nzSpan="4" class="title">描述：</div>
    <div nz-col nzSpan="8">{{buildForm.value.pdesc}}</div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="4" class="title">排序：</div>
    <div nz-col nzSpan="8">{{buildForm.value.sortNum}}</div>
    <div nz-col nzSpan="4" class="title">访问权限：</div>
    <div nz-col nzSpan="8">
        <label class="no-margin" *ngFor="let element of buildForm.value.roleVOs" nz-checkbox [(ngModel)]="element.checked">{{element.label}}</label>
    </div>
  </div>
</div>