::ng-deep {
  .ant-form-item label.ant-checkbox-wrapper {
    margin: 10px 15px 0 0;
    min-width: 120px;
  }
  .ant-skeleton-header {
    padding-right: 0;
  }
  //.ant-skeleton-content {
  //  .ant-skeleton-paragraph > li, .ant-skeleton-title {
  //    background: #fff;
  //  }
  //}
}
