<form nz-form [formGroup]="buildForm">
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="desc">应用目录</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入目录名称!">
      <nz-input-group>
        <input formControlName="desc" nz-input placeholder="请输入目录名称" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="pdesc">描述</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入目录描述!">
      <nz-input-group >
        <input formControlName="pdesc" nz-input placeholder="请输入目录描述" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzFor="sortNum">排序</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入排序数字!">
      <nz-input-group >
        <input formControlName="sortNum" nz-input placeholder="请输入排序数字" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="rExtId">访问权限</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请勾选访问权限!">
      <nz-input-group >
        <nz-skeleton [nzActive]="true" *ngIf="roleList.length === 0"></nz-skeleton>
        <nz-checkbox-group formControlName="rExtId"></nz-checkbox-group>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nz-row>
      <div nz-col nzSpan="14" nzOffset="2">
        <button nz-button nzType="primary" [disabled]="buildForm.invalid" (click)="submit()">添加目录</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
