<form nz-form [formGroup]="buildForm">
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="desc">应用目录</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入目录名称!">
      <nz-input-group>
        <input formControlName="desc" nz-input placeholder="请输入目录名称" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="pdesc">描述</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入目录描述!">
      <nz-input-group >
        <input formControlName="pdesc" nz-input placeholder="请输入目录描述" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="sortNum">排序</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入排序数字!">
      <nz-input-group >
        <input formControlName="sortNum" nz-input placeholder="请输入排序数字" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="rExtId">访问权限</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请勾选访问权限!">
      <nz-input-group >
        <nz-checkbox-group formControlName="rExtId" (ngModelChange)="log(roleCheckBoxArr)"></nz-checkbox-group>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <div nz-row>
        <span nzSm="2">d</span>
        <div nzSm="6">
          <button  nz-button nzType="primary" [disabled]="this.buildForm.invalid">添加节点</button>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
