<div class="page-btn-line">
  <button [appAuthority]="'RoleAdd'" nz-button [routerLink]="[ '/manage/role-new-edit',{action:'create'} ]" nzType="primary">新建角色</button>
</div>
<form class="search-box" nz-form nzSize="middle" [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="userName" placeholder="async validate try to write JasonWood" />
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your username!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The username is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
      <button nz-button class="reset-btn" (click)="resetForm($event)">Reset</button>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)">
  <thead>
    <tr>
      <th>角色</th>
      <th>角色编码</th>
      <th>应用</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of ajaxTable.data;let index = index;">
      <td>{{ element.displayName }}</td>
      <td>{{ element.externalId }}</td>
      <td>{{ element.appExtId }}</td>
      <td>{{ element.state==1?'有效':'无效' }}</td>
      <td>
        <button nz-button (click)="goDetail(element,'detail')" nzType="primary" nzSize="small">详情</button>
        &nbsp;
        <button [appAuthority]="'RoleaUbd'" nz-button (click)="goDetail(element,'edit')" nzType="primary" nzSize="small">编辑</button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="authorityDialog" nzTitle="角色信息" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <p>Content two</p>
  <p>Content three</p>
</nz-modal>
